# Enable Rewrite Engine
RewriteEngine On

# Set the default index file
DirectoryIndex dist/

# Allow access to all files and directories
<Files *>
    Require all granted
</Files>

# Prevent access to certain sensitive files
<FilesMatch "\.(htaccess|htpasswd|ini|log|env)$">
    Require all denied
</FilesMatch>
